@font-face {
	font-family: Myriad Pro;
	src: url(fonts/MyriadPro-Regular.otf?v=1.2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: Myriad Pro;
	src: url(fonts/MyriadPro-SemiBold.otf?v=1.2);
	font-weight: bold;
}

@font-face {
	font-family: Myriad Pro;
	src: url(fonts/MyriadPro-It.otf?v=1.2);
    font-style: italic;
}

body {
	font-family: Myriad Pro, sans-serif;
    font-size: 2vw;
    overflow: hidden; /* Hide scrollbars */
}

.very-big {
    font-size: 23vw;
}